@font-face {
    font-family: "bebasneue_regular";
    src: url(bebasneue_regular-webfont.eot);
    src: url(bebasneue_regular-webfont.eot?#iefix) format("embedded-opentype"),
         url(bebasneue_regular-webfont.woff2) format("woff2"),
         url(bebasneue_regular-webfont.woff) format("woff"),
         url(bebasneue_regular-webfont.ttf) format("truetype"),
         url(bebasneue_regular-webfont.svg#bebasneue_regular) format("svg");
    font-weight: normal;
    font-style: normal;
}

#container {
  background: url(../img/background/background.jpg) no-repeat center center;
  background-size: cover;
}

#streetGridContent .background {
  background-image: url(../img/background/street-grid.jpg);
}

#streetGridImg {
  content:url(../img/street-grid.jpg);
}

#streetGridImg:after {
  background-image: url(../img/street-grid.jpg);
}

#goodBonesContent .background {
  background-image: url(../img/background/good-bones.jpg);
}

#strategicLocationContent .background, #strategicLocationContent .background:after {
  background-image: url(../img/background/strat-location.jpg);
}

#airplaneIcon, #airplaneIcon::after {
  content:url(../img/airplane.png);
}

#buildingIcon, #buildingIcon::after {
  content:url(../img/building.png);
}

#highDensityContent .background {
  background-image: url(../img/background/high-density.jpg);
}

#ttBefore {
  content:url(../img/1_1.jpg);
}

#ttAfter {
  content:url(../img/1_2.jpg);
}

#ttBefore::after {
  content:url(../img/1_1.jpg);
  display: flex;
}

#ttAfter::after {
  content:url(../img/1_2.jpg);
  display: flex;
}
