.xblock-render .multibar-chart-container {
    position: relative;
}

.multibar-chart-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;
    z-index: 1;
}

.multibar-content {
    padding: 2% 4%;
    width: 75%;
    margin: auto;
}

#multibarChart {
    margin: 0 auto;
}

svg {
    min-height: 800px;
    min-width: 950px;
    color: white;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.header {
    padding: 1% 20% 1% 20%;
}

.header .navigation-title {
    font-size: 2em;
    padding-bottom: 0.7em;
}
#charts-list li {
    list-style: none;
    border: 1px solid white;
    padding: 7px;
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    min-width: 150px;
    text-align: center;

}

#charts-list li:hover,
#charts-list li.active {
    cursor: pointer;
    background-color: #e5e5e5;
    color: black;
}

/* y-axis */
.nv-axis path {
    /* Hide base line  */
    visibility: hidden;
}

.nv-y .tick line {
    /* Convert y-axis ticks from line into dashed line  */
    stroke-dasharray: 1, 2;
    opacity: 0.3;
}

/* Hide x-axis ticks */
.nv-x .tick line {
    display: none;
}

/* override text color for all svg text elements */
text {
    fill: white;
}

/* override legend position */
g.nvd3.nv-legend {
    transform: translate(400px, -30px);
}
